---
import FormNavbar from '../components/Navbar/FormNavbar.jsx'
import Form from '../components/Form/Form.jsx';
import '../pages/index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Hexepica - Get Your Free Proposal</title>
	</head>
	<body>
		<FormNavbar client:load />
		<main>
			<Form client:load />
		</main>
	</body>
</html> 