@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root{
    --dark-bg: #191A23;
    --highlight-color: #FFD080;
    --bg-title: #EF5025;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Responsive font sizes for different screen sizes */
@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

body{
    background: var(--dark-bg);
    color: #fff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
}

.header{
    padding-left: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
}

@media (max-width: 1024px) {
    .header {
        padding-left: 3rem;
        gap: 3rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: 1rem;
        gap: 2rem;
    }
}

.btn{
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    border-bottom: 4px double black;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 768px) {

    .container{
        margin: 0 auto;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

.title{
    font-size: 3.75rem;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
}

.description{
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .description {
        font-size: 1rem;
    }
}

.highlight{
    color: var(--highlight-color);
}

.bg-title{
    max-width: 32rem;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.5rem 1rem;
    background: var(--bg-title);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .bg-title {
        max-width: 28rem;
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .bg-title {
        max-width: 100%;
        font-size: 1.75rem;
    }
}

.header-description{
    max-width: 36.25rem;
    font-size: 1.125rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .header-description {
        max-width: 100%;
        font-size: 1rem;
    }
}

.card-title{
    font-size: 1.875rem;
    font-weight: 500;
    color: #000;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.5rem;
    }
}

.arrow-circle {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

@media (max-width: 768px) {
    .arrow-circle {
        width: 2rem;
        height: 2rem;
    }
}

.read-more-btn{
    padding: 1rem 4rem;
    margin: 1rem auto;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .read-more-btn {
        padding: 0.75rem 2rem;
        font-size: 1rem;
    }
}
